
/* Cube ---------------------------- */
.cube-project {
    float: left;
    margin-left: 40px;
    z-index: 10;
    position: relative;
  }
  
  .cube {
    transform-origin: 50% 50%;
    position: absolute;
    left: 40%;
    top: 50%;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    perspective-origin: 50% 100px;
    transform: rotateY(20deg) rotateX(20deg);
  }
  
  .faces {
    position: absolute;
    bottom: 0px;
    width: 300px;
    height: 300px;
    padding: 10px;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
  }
  
  .front {
    transform: rotateY(-90deg) translateX(-2px) translateZ(0px) rotateY(90deg);
    transform-origin: center;
  }
  
  .back {
    transform-origin: top;
    transform: translateZ(-200px) translateX(-0%) rotateX(180deg) scale(-1);
  }
  
  .right {
    transform: rotateY(-270deg) translateX(84%) translateZ(-52px);
    transform-origin: top right;
  }
  
  .left {
    transform: rotateY(270deg) translateX(-83%) translateZ(-50px);
    transform-origin: center left;
  }
  
  .top {
    transform: rotateX(90deg) translateX(0px) translateZ(-50px) translateY(-83%);
    transform-origin: top center;
  }
  
  .bottom {
    transform: rotateX(-90deg) translateX(0%) translateZ(248px) translateY(-16%);
    transform-origin: top center;
  }
  
  .cube-n {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0);
    /*   transform: translateZ(-30px); */
  }
  
  .back>.cube-n {
    transform: translateX(0px);
  }
  
  .faces-n {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid #222;
    transform-style: preserve-3d;
    perspective-origin: 50% 50%;
    background-color: #444;
  }
  
  .right-n {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
  }
  
  .left-n {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
  }
  
  .front-n {
    transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
  }
  
  .top-n {
    transform: rotateX(-90deg) translateY(-50%);
    transform-origin: top center;
  }
  
  .bottom-n {
    transform: rotateX(90deg) translateY(50%);
    transform-origin: bottom center;
  }
  
  .back-n {
    transform-origin: top;
  }
  
  .Cube {
    transform: translateZ(0px);
    left: "100px";
  }
  
  
  /* #parent0, #parent6, #parent14, #parent20 {
    transform-origin: 151px 1px -106px;
    animation: rotate-side 5s linear 1s 4;
    animation-fill-mode: forwards 
  }
  #parent1, #parent21, #parent7, #parent15 {
    transform-origin: 51px 1px -105px;
    animation: rotate-side 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent12 {
    transform-origin: 50px 50px -150px;
    animation: rotate-side-X 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  @keyframes rotate-side-X{ 
    0% {
      
      transform: rotate(0deg);
      
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes rotate-side { 
    0% {
      
      transform: rotate(0deg);
      
    }
    100% {
      transform: rotate(360deg);
    }
  } */
  
  
  /* side */
  
  #parent0 {
    transform-origin: 1px 150px -100px;
    animation: rotate-forward 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent2 {
    transform-origin: 1px 50px -100px;
    animation: rotate-forward 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent4 {
    transform-origin: 0px -50px -100px;
    animation: rotate-forward 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  
  /*Front  */
  
  #parent14 {
    transform-origin: 150px 150px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent15 {
    transform-origin: 50px 150px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent16 {
    transform-origin: 150px 50px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent18 {
    transform-origin: 150px -50px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent19 {
    transform-origin: 50px -50px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  #parent17 {
    transform-origin: 50px 50px;
    animation: rotate-forward-x 5s linear 1s 4;
    animation-fill-mode: forwards
  }
  
  @keyframes rotate-forward {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotateX(-360deg);
    }
  }
  
  @keyframes rotate-forward-x {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  