body,
html {
  color: #444;
  font-family: 'Cutive Mono', monospace;
  background: url("../media/concrete_seamless.png");
  background-repeat: repeat;
  overflow-x: hidden;
  height: 100%;
}
.project-container {
    height: 100vh;
    width: 100vw;
    margin: auto;
}
.row {

}
.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .related-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    height: 350px;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.88);
    border: 1px solid #D1D1D1;
    color: #444;
    border-radius: 2px;
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  .related-project-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 70%;
    background-color: white;
  }
  
  .related-project-img>img {
    margin-top: 20px;
    width: 100%;
    border-radius: 4px;
  }
  
  .related-project-info {
    text-align: center;
    height: 30%;
    width: 100%;
    background-color: #EDEDED;
  }
